snippet react
import React from 'react'

export default function $1 (${2:props}) {
	return (
		$3
	)
}
endsnippet

snippet cl{
console.log({$1})
endsnippet

snippet high
backgroundColor: 'rgba(255, 255, 255, .4)'
endsnippet

snippet cl1
console.log(\`%c${$1}\`, 'color: hotpink')
endsnippet

snippet cl2
console.log(\`%c${$1}\`, 'color: springgreen')
endsnippet

snippet cl3
console.log(\`%c${$1}\`, 'color: dodgerblue')
endsnippet

snippet cl4
console.log(\`%c${$1}\`, 'color: fuchsia')
endsnippet
