snippet react
import React from 'react'

export default function $1 (${2:props}) {
	return (
		$3
	)
}
endsnippet

snippet cl
console.log($1)
endsnippet

snippet high
backgroundColor: 'rgba(255, 255, 255, .4)'
endsnippet
